services:
  next-app:
    container_name: pwa-messenger
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    restart: always
    ports:
      - "3010:3000"
    environment:
      - NODE_ENV=production
