name: Build Image and Push Registry

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    env:
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
      REGISTRY_NAME: ${{ secrets.REGISTRY_NAME }}    

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Registry
        run: echo $REGISTRY_PASSWORD | docker login $REGISTRY_NAME -u $REGISTRY_USERNAME --password-stdin

      - name: Build Docker Image
        run: docker build -t $REGISTRY_NAME/pwa-messenger:latest -t $REGISTRY_NAME/pwa-messenger:${{ github.sha }} --target prod .
      
      - name: Push Docker Image
        run: |
          docker push $REGISTRY_NAME/pwa-messenger:latest
          docker push $REGISTRY_NAME/pwa-messenger:${{ github.sha }}
